:root {
    --text-color: #DBE4EF;
    --card-front-color: #144480;
    --card-back-color: #00F4BF;
}

body {
    background: url(img/desktop.webp);
    font-family: Bai Jamjuree;
}

#container {
    display: flex;
}

.cartao {
    margin: 1rem 1rem;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
    background-color: red;
}